.anime
{
    background-color: orange;
    width: 250px;
    height: 250px;
    animation-name:change ;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
/*@keyframes change
{
    from{
        background-color: black;

    }
    to{
        background-color: crimson;
    }
}*/
@keyframes change
{
    0%{
        background-color: black;
    }
    25%{
        background-color: teal;
    }
    50%
    {
        background-color: blueviolet;
    }
    75%{
        background-color: mediumseagreen;
    }
    100%{
        background-color: darkorange;
        border-radius: 60%;
    }
}