* {
    background-color: rgb(246, 247, 251);
}

.head {
    display: grid;
    grid-template-columns: 7% 60% 15% 15%;
    justify-content: left;
    margin-right: 10px;
    align-items: center;
    padding: 10px;
}

.head {

    border-bottom: 2px solid darkgray;
    width: 99%;
}

input {
    border-width: 200px;
    border: 20px none;
    background-color: white;

}
s
.search {
    width: 220px;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
}

.search >i {
    color: white;
    border: 13px solid orangered;
    border-radius: 5px;
    background-color: orangered;
}

.body {
    font-size: 15px;
    font-weight: bold;
    font:10px;
    color: #474d58;
    font-family: mulish, sans-serif;
    word-spacing: 2px;
}
.stoke
{
    background-color: white;
    width: 620px;
    height: 410px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;
}
.select
{

    background: #f6f7fb;
    border: 0;
    padding-left: 18px;
    padding-right: 38px;
    border-radius: 6px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    text-transform: capitalize;
    text-align:right;
}
.stoke
{
    display: grid;
    grid-template-columns:repeat(1,40%);
    background-color: white;
}